/* Colors:
#F1AB1D - yellow
#203539 - dark teal
#2C97B9 - aqua
#AFB1B2 - light gray
#7F642C - medium dark khaki
 */
 body {
  background-image: url('./images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this line */
  justify-content: center;
  height: 100vh;
  padding-top: 80px; /* Adjust if necessary */
}

.jumbotron {
  margin: 0px;
  background-color: #d3d3d3;
  border-radius: 20px;
  opacity: 0.80;
  width: 100%;
  padding: 5px 10px;
}

#jumbotron-text {
  padding: 20vh;
}

.navbar-container {
  position: fixed; /* Makes the navbar fixed at a specific position */
  top: 40px; /* Adjust the value to control how far from the top */
  width: 900px; /* Ensures it spans the full width of the viewport */
  z-index: 1000; /* Keeps it above other content */
  padding: 5px 10px; 
  display: flex;
  justify-content: center; /* Aligns the logo and links */
  align-items: center; /* Centers vertically */
}

#navbar {
  background-color: #d3d3d3;
  border-radius: 15px;
  opacity: 0.85;
  width: 100%;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#nav-logo {
  margin-right: 5px;
  margin-bottom: 2.5px;
}
