/* Colors:
#F1AB1D - yellow
#203539 - dark teal
#2C97B9 - aqua
#AFB1B2 - light gray
#7F642C - medium dark khaki
 */

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 150px;
  margin-bottom: 0px;
  background-color: #d3d3d3;
  border-radius: 20px;
  opacity: 0.80;
  width: 100%;
  padding: 5px 10px;
}

#jumbotron-text {
  padding: 20vh;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 15px; /* Adjust padding as necessary */
  margin-bottom: 70px;/* Ensure no margin pushing it down */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-bottom: 1px solid #AFB1B2;
}


#navbar {
  background-color: #d3d3d3;
  width: 90%; /* Controls width relative to viewport */
  max-width: 1200px; /* Optional max-width for better aesthetics on larger screens */
  border-radius: 10px; /* Slight border radius for a pleasant curve */
  opacity: 0.80; /* Slight opacity for a polished look */
  padding: 5px 15px; /* Reduces padding inside the navbar for a tighter fit */
  margin: 0; /* Ensures no extra margins around the navbar */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 0; /* Make sure there is no padding pushing content down */
  margin-top: 0;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#nav-logo {
  margin-right: 5px;
  margin-bottom: 2.5px;
}
